@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    max-width: 800px; 
    box-sizing: border-box; 
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%; 
    max-width: 400px; 
    box-sizing: border-box; 
}

.Name {
    display: flex;
    gap: 10px;
}

.inputName,
.inputField,
.textareaField {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    box-sizing: border-box; 
}

.textareaField {
    resize: vertical;
}

.submitButton {
    width: 100%; 
    max-width: 200px ;
    height: 40px; 
    border: 2px solid #CABDB9;
    border-radius: 15px;
    background-color: #ffffff;
    color: #48444B;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box; 
}

.submitButton:hover {
    background-color: #48444B;
    color: #ffffff;
}
