@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

.main {
    height: 205vh;
    justify-content: top;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.mock{
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13vw;
    font-size: 2.5rem;
}

.h1 {
    font-size: 2.3rem;
    border-bottom: 0.3vh solid #48444B;
    padding-bottom: 0.5vh;
    color: #48444B;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.h {
    font-size: 2.5rem;
    font-weight: 700;
    color: #CABDB9;
    padding-bottom: 0.5vh;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.imageContainer {
    overflow-y: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.infoDisplay {
    border: 0.3vh solid #48444B;
    width: 40vw;
    height: 40vh;
}

.infoTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #48444B;
    padding-bottom: 2vh;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.infoText {
    font-size: 1.1rem;
    font-weight: 500;
    color: #48444B;
    justify-content: left;
    width: 25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.body1 {
    display: flex;
    margin-top: 10vh;
    flex-direction: row;
    gap: 10vw;
    margin-bottom: 20vh;
}

.bodyText1 {
    font-size: 1rem;
    font-weight: 500;
    color: #48444B;
    padding: 2vh;
    justify-content: center;
    width: 20rem;
}

.btn {
    width: 15vh;
    height: 4vh;
    border: 0.2rem solid #CABDB9;
    border-radius: 15px;
    background-color: #ffffff;
    color: #48444B;
    font-size: 1.5vh;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.body2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
}

.bodyText2 {
    font-size: 1rem;
    font-weight: 500;
    color: #48444B;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 20rem;

}

.infoText2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #48444B;
    justify-content: left;
    width: 25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    max-width: 20rem;
}

/* For screens smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {
    .information {
        flex-direction: column;
        gap: 5vh;
    }

    .imageContainer {
        overflow-y: hidden;
    }

    .infoDisplay {
        max-width: 100%;
    }

    .body1 {
        flex-direction: column;
        gap: 5vh;
    }

    .bodyText1 {
        width: 100%;
    }

    .imageRoulette {
        width: 100%;
    }

    .infoText,
    .bodyText1,
    .bodyText2 {
        width: 100%; /* Adjust width to fit container */
    }

    .infoText2 {
        max-width: 100%; /* Adjust max-width to fit container */
    }
}
